* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "Futura";
  src: url("/public/fonts/futura/futur.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Afacad";
  src: url("/public/fonts/Afacad/Afacad-VariableFont_wght.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: linear-gradient(to bottom, #224097 19%, #a24c92 62%, #df7284 78%, #faaa87 89%, #ffc22d 100%);
  margin: 40px;
}

h2 {
  font-family: Futura;
  font-weight: 600;
}

h3 {
  font-family: Futura;
  font-weight: 50;
}

p {
  font-family: Afacad;
}

.events_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  gap: 60px;
  margin-top: 20px;
}

.filter_container {
  display: flex;
  justify-content: start;
  gap: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
