---
import Eventscard from "../components/Eventscard.astro";
import "../styles/style.css";
import Buttons from "../components/Buttons.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Menu.astro";
import Hero from "../components/Hero.astro";
import Instascroll from "../components/Instascroll.astro";
import Sektion1 from "../components/Sektion1.astro";
import Sektion2 from "../components/Sektion2.astro";
import Sektion3 from "../components/Sektion3.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <header>
      <Nav />
    </header>
    <Hero
      img="../public/img/hero.webp"
      tekst="Tikøb 19/09 - Helsingør & Espergærde 26/09"
    />

    <Sektion1
      baggrundsbillede="../public/img/lyseroedbaggrund.svg"
      sektionh1="Events"
      pil="../public/img/pil.svg"
    />

    <Sektion2
      baggrundsbillede="../public/img/orangebaggrund.svg"
      overskrift="Brænder du inde med en idé?"
      tekst="Kunne du tænke dig at blive en større del af Kulturnatten? Har du hovedet fyldt med ideer til denne mangfoldige fest? Så bliv arrangør her!"
      tekst2="Hvis du har lyst til at deltage med et arrangement på Kulturnatten, kan du få det med i fælles programmet. Som arrangører har I selv det fulde ansvar for begivenheden, herunder sikkerhed og indhentning af eventuelle nødvendige tilladelser."
      svg="../public/img/pil.svg"
    />

    <Sektion3
      baggrundsbillede="../public/img/lysblaabaggrund.svg"
      svg="../public/img/pil.svg"
    />

    <Footer />
  </body>
</html>
