---
import Eventscard from '../components/Eventscard.astro';
import "../styles/style.css";
import Buttons from '../components/Buttons.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>
    <body>
        
        <Buttons color="" 
        title="SE HELE PROGRAMMET HER"/>
        <Buttons color="#E7EDFF" 
        title="OPRET BEGIVENHED HER"/>
        
        
    </body>
</html>
