---
const {title, color} = Astro.props

---

<button style=`background-color:${color}`>
    <p>{title}</p>
</button>






<style>
    button{
        border: none;
        border-radius: 100px;
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #F5B886;
    }

    button:hover{
        border: solid #193B9C 2px;
        border-radius: 100px;
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #FFEBF6;
    }

 

    p{
        color:#193B9C;
        font-family: Futura;
        font-size: 1.5rem;
    }


</style>