---

const {title, color} = Astro.props

---

<button style=`background-color:${color}`>
    <p>{title}</p>
</button>





<style>
    button{
        border: none;
        border-radius: 100px;
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #F5B886;
    }

 

    p{
        color:#193B9C;
        font-family: Futura;
        font-size: 1.5rem;
    }


=======
const {title} = Astro.props
---

<button>
    <p>{title}</p>
</button>

<style>
</style>