---

---

<footer>
  <div class="footer_container">
    <div class="footer_indhold">
      <div class="footer_grid">
        <h3>Kontaktoplysninger</h3>
        <p>Har du spørgsmål til Kulturnat?</p>
        <p>E-mail: kulturnatten@elsinore2032.dk</p>
      </div>

      <div class="footer_grid">
        <h3>Genveje</h3>
        <ul>
          <li><a href="#">Program</a></li>
          <li><a href="#">Praktiske oplysninger</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>

      <div class="footer_grid">
        <h3>Følg os på</h3>
        <a href="https://www.facebook.com/kulturnathelsingor">
          <img src="facebook.svg" alt="" />
        </a>
        <a href="https://www.instagram.com/kulturnathelsingor/">
          <img src="instagram.svg" alt="" />
        </a>
      </div>
    </div>

    <div class="footer_bund">
      <p></p>
    </div>
  </div>
  <p>©2025 Kulturnat Helsingør</p>
</footer>
