---

---


<footer>
    <div class="footer_container">
      <div class="footer_indhold">
        <div class="footer_grid">
          <h3>Kontaktoplysninger</h3>
          <p>Har du spørgsmål til Kulturnat?</p>
          <p>E-mail: kulturnatten@elsinore2032.dk</p>
          
        </div>
        <div class="footer_grid">
          <h3>Genveje</h3>
          <a href="#">Program</a>
          <a href="#">Praktiske oplysninger</a>
          <a href="#">Kontakt</a>
        </div>

        <div class="footer_grid">
          <h3>Følg os på</h3>

<a href="https://www.facebook.com/kulturnathelsingor">
<img src="../assets/facebook.svg" alt="">
</a>

          <ul>
            
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p> </p>
    </div>
  </footer>